<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <style>
        body {background-color: 03544;}
        audio {background-color: 006494;}
        p {color: 051923;}
        h1 {color: 051923;}
        a {color: 051923;}
    </style>
</head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"> </script>


<body>
    <h1>Hello, world!</h1>
    <h2>Randomly Generated Chiptune Jazz</h2>
    <p>
        This app randomly generates a chord progression and plays very naive modal jazz solos on top!
        If you're experiencing issues, try disabling your browser cache and reloading. Enjoy!
    </p>

    <audio controls='controls', onended="playnext()", id='player', muted>

    <a href="/architecture">View Architecture Overview</a>
    
    
    
    <script>
        function playnext(){
            document.getElementById('player').src = '/music/next';
            document.getElementById('player').load();
            document.getElementById('player').play();
            
        };
        document.getElementById('player').src = '/music/next';

        
    </script>
    
    
</body>
</html>